* {
  box-sizing: border-box;
}

.animate__animated.animate__fadeOut {
  --animate-duration: 3s;
}

body {
  padding: 50px;
  font: 14px "Comfortaa", Helvetica, Arial, sans-serif;
  background-color: rgb(209, 231, 224);
}

h1 {
  font-size: 3em;
}
a {
  color: #473314;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: flex-start;

  a {
    font-size: 20px;
    padding: 10px 20px;
    background: #473314;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
      cursor: pointer;
    }
  }
}

table {
  table-layout: fixed;
  background-color: #fff;
  // width: 700px;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;

  // fallback image
  img {
    height: 40px;
    display: block;
    position: relative;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      height: 40px;
      width: 40px;
      top: 20px;
      background-image: url(https://source.unsplash.com/40x40?plant);
    }
  }

  a {
    font-size: 14px;
    padding: 4px 10px;
    background: #473314;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
      cursor: pointer;
    }

    &.delete {
      background-color: rgb(99, 18, 18);
    }
  }
}

tr:nth-child(even) {
  background-color: antiquewhite;
}

tr:hover {
  background-color: rgb(172, 219, 204);
}

tr td {
  // border: solid 1px #ccc;
  overflow: auto;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

tr th {
  overflow: hidden;
  white-space: nowrap;
  // border: solid 1px #000;
  background: rgb(172, 219, 204);
  padding: 10px;
  // min-width: 100px;
}

th[data-sort-id] {
  cursor: pointer;
}

table td {
  width: 300px;
  padding: 10px 5px;
}

tbody {
  tr td:first-child {
    width: auto;
  }
}

#create {
  .repeater {
    .group {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #00897b;
      &:last-of-type {
        border: 0;
      }
    }
  }
  div {
    input,
    textarea,
    .tag-picker {
      margin-bottom: 10px;
      padding: 10px;
      border: 2px solid #00897b;
      border-radius: 2px;
      width: 300px;

      &:focus {
        outline: 0;
      }
    }
    label {
      display: block;
      padding-bottom: 10px;
    }
  }
  input[type="submit"],
  button {
    border: 0;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background: #473314;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    width: auto;

    &:hover,
    &:focus {
      border: 0;
      outline: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
      cursor: pointer;
    }
  }
}

form {
  display: flex;

  .col {
    flex: 0 1 auto;
    padding: 20px;
  }
}

.submit-status {
  &.success {
    color: green;
  }

  &.error {
    color: red;
  }

  &.sending {
    color: blue;
  }
}

@import "tag-picker";
