* {
  box-sizing: border-box; }

.animate__animated.animate__fadeOut {
  --animate-duration: 3s; }

body {
  padding: 50px;
  font: 14px "Comfortaa", Helvetica, Arial, sans-serif;
  background-color: #d1e7e0; }

h1 {
  font-size: 3em; }

a {
  color: #473314;
  font-weight: bold; }

nav {
  display: flex;
  justify-content: flex-start; }
  nav a {
    font-size: 20px;
    padding: 10px 20px;
    background: #473314;
    color: #fff;
    text-decoration: none;
    margin: 5px; }
    nav a:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
      cursor: pointer; }

table {
  table-layout: fixed;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600; }
  table img {
    height: 40px;
    display: block;
    position: relative; }
    table img:before {
      content: " ";
      display: block;
      position: absolute;
      height: 40px;
      width: 40px;
      top: 20px;
      background-image: url(https://source.unsplash.com/40x40?plant); }
  table a {
    font-size: 14px;
    padding: 4px 10px;
    background: #473314;
    color: #fff;
    text-decoration: none;
    margin: 5px; }
    table a:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
      cursor: pointer; }
    table a.delete {
      background-color: #631212; }

tr:nth-child(even) {
  background-color: antiquewhite; }

tr:hover {
  background-color: #acdbcc; }

tr td {
  overflow: auto;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px; }

tr th {
  overflow: hidden;
  white-space: nowrap;
  background: #acdbcc;
  padding: 10px; }

th[data-sort-id] {
  cursor: pointer; }

table td {
  width: 300px;
  padding: 10px 5px; }

tbody tr td:first-child {
  width: auto; }

#create .repeater .group {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #00897b; }
  #create .repeater .group:last-of-type {
    border: 0; }

#create div input,
#create div textarea,
#create div .tag-picker {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #00897b;
  border-radius: 2px;
  width: 300px; }
  #create div input:focus,
  #create div textarea:focus,
  #create div .tag-picker:focus {
    outline: 0; }

#create div label {
  display: block;
  padding-bottom: 10px; }

#create input[type="submit"],
#create button {
  border: 0;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
  background: #473314;
  color: #fff;
  text-decoration: none;
  margin: 5px;
  width: auto; }
  #create input[type="submit"]:hover, #create input[type="submit"]:focus,
  #create button:hover,
  #create button:focus {
    border: 0;
    outline: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    cursor: pointer; }

form {
  display: flex; }
  form .col {
    flex: 0 1 auto;
    padding: 20px; }

.submit-status.success {
  color: green; }

.submit-status.error {
  color: red; }

.submit-status.sending {
  color: blue; }

.tag-picker {
  background: #fff;
  border: 1px solid #000;
  padding: 0.125em;
  cursor: text; }
  .tag-picker,
  .tag-picker * {
    box-sizing: border-box;
    font: inherit;
    color: inherit; }
  .tag-picker,
  .tag-picker .tags {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-height: 2em;
    line-height: 2em; }
  .tag-picker .tag {
    background: #d1e7e0;
    color: #000;
    text-decoration: none;
    margin: 0.125em;
    padding: 0 0.5em;
    height: 2em;
    cursor: pointer;
    outline: none; }
    .tag-picker .tag:focus {
      background: #afd6c9; }
    .tag-picker .tag[title] a {
      margin-left: 0.5em;
      text-decoration: none;
      color: #fff;
      outline: none; }
      .tag-picker .tag[title] a::before {
        content: "\00d7";
        font-family: sans-serif; }
    .tag-picker .tag[title]::before {
      content: attr(title); }
    .tag-picker .tag + .editor span + span {
      display: none; }
  .tag-picker .editor {
    background: none;
    color: inherit;
    cursor: inherit;
    position: relative;
    flex: 1; }
    .tag-picker .editor span {
      display: block;
      height: 100%;
      outline: none;
      position: relative;
      z-index: 1; }
      .tag-picker .editor span + span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: inherit;
        white-space: nowrap;
        z-index: 0;
        opacity: 0.5; }

.tag-picker-source {
  position: fixed;
  top: -9999px;
  left: -9999px; }
  .tag-picker-source[disabled] + .tag-picker,
  .tag-picker-source[disabled] + .tag-picker * {
    cursor: not-allowed; }
  .tag-picker-source[readonly] + .tag-picker .tag[title] a {
    cursor: not-allowed; }

/*# sourceMappingURL=style.css.map */